<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 (Thursday, 3 November)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td>Follow <a href="https://ukaea-rse-training.github.io/python-intermediate-development/setup.html"
			target="_blank">setup</a> instructions.</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:45</td>        <!-- time    -->
        <td>Introduction and <a
			href="https://ukaea-rse-training.github.io/python-intermediate-development/00-setting-the-scene/index.html"
			target="_blank">Setting the Scene</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://ukaea-rse-training.github.io/python-intermediate-development/10-section1-intro/index.html"
			target="_blank">Section 1: Setting Up Environment For Collaborative Code Development</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:15</td>        <!-- time    -->
        <td>End of Session.</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 (Friday, 4 November)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>8:30</td>        <!-- time    -->
        <td><a href="https://ukaea-rse-training.github.io/python-intermediate-development/20-section2-intro/index.html"
			target="_blank">Section 2: Ensuring Correctness of
			Software at Scale (Testing)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td>End of Session. </td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 (Thursday, 10 November)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>12:45</td>        <!-- time    -->
        <td><a href="https://ukaea-rse-training.github.io/python-intermediate-development/30-section3-intro/index.html"
			target="_blank">Section 3: Software Architecture and Design</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:15</td>        <!-- time    -->
        <td>End of Session</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 (Friday, 11 November)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>8:30</td>        <!-- time    -->
        <td>Likely overflow from <a href="https://ukaea-rse-training.github.io/python-intermediate-development/30-section3-intro/index.html"
			target="_blank">Section 3: Software Architecture and Design</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="https://ukaea-rse-training.github.io/python-intermediate-development/40-section4-intro/index.html"
			target="_blank">Section 4: Improving and Managing Software Over its Lifetime</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td>End of Session.</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 (Friday, 18 November)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>8:00</td>        <!-- time    -->
        <td>Remaining portion of <a href="https://ukaea-rse-training.github.io/python-intermediate-development/40-section4-intro/index.html"
			target="_blank">Section 4: Improving and Managing Software Over its Lifetime</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="https://ukaea-rse-training.github.io/python-intermediate-development/50-wrap-up/index.html"
			target="_blank">Wrap up</a> and buffer time. </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td>End of Workshop. <a href="{{ site.incubator_post_survey }}" target="_blank">Post-course Survey</a>.</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
